* {
    margin: 0;
    padding: 0;
}

body {
    background: #008080;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/*desktop*/
.desktop {
    width: 100%;
    height: 100%;
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.desktop-item__icon {
    width: 32px;
    margin-bottom: 3px;
}

.desktop-icons_item {
    color: #ffffff;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px 0px;
}

.desktop-icon__text {
    background: none;
}

/*windows*/

.window {
    background: silver;
    box-shadow: 1px 1px #000;
    border-width: 2px 1px 1px 2px;
    border-color: rgb(224, 221, 221);
    border-style: outset;
    left: 100px;
    bottom: 200px;
    position: absolute;
    cursor: default;
}

.window-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-weight: bold;
    background: navy;
    font-weight: 12px;
    height: 20px;
    padding: 1px 2px;
}

.window-btn {
    font-weight: bold;
    border: 1px solid #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    height: 16px;
    width: 14px;
    color: 000;
    line-height: 2px;
    margin: 0px 1px;
}

.window-title_text, .window-title-icon {
    margin-right: auto;
}

.window-options {
    height: 23px;
    display: flex;
    align-items: center;
}

.window-options a {
    cursor: default;
    color: #000;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    border: 1px outset transparent;
}

.window-options a:hover {
    border: 1px outset #fff;
}

.window-options a:first-letter {
    text-decoration: underline;
}

.window-area {
    display: flex;
    flex-direction: column;
    margin: 0px 2px 2px 2px;
    background: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #404040 #f4f4f4 #f4f4f4 #404040 ;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.row > div {
    color: #000000;
}

.control-panel {
    display: none;
}

/*startup menu*/

.startup-menu {
    position: fixed;
    bottom: 32px;
    left: 2px;
    background: silver;
    display: flex;
    box-shadow: 1px 1px #000;
    border-width: 3px 2px 1px 3px;
    border-color: rgb(224, 221, 221);
    border-style: outset;
    display: none;
}

.startup-logo {
    background: gray;
    color: #fff;
    font-size: 26px;
    letter-spacing: -1px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 10px 1px 160px 1px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.startup-logo strong {
    color: silver;
}

.startup-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.startup-options_item {
    display: flex;
    align-items: center;
    cursor: default;
    width: 200px;
}

.startup-options_item:hover {
    background: navy;
    color: #ffffff;
}

.options_item__text {
    margin: 0px 5px;
}

.options__disabled {
    color: grey;
    text-shadow: 1px 1px #fff;
}

.options__disabled:hover {
    background: none;
    color: grey;
}

.options_item__text:first-letter {
    text-decoration: underline;
}

.options_item__icon {
    width: 40px;
    padding-left: 10px;
}

.options_item__arrow {
    font-size: 20px;
    margin-left: auto;
    margin-right: 5px;
}

/*startup sub menu*/

.startup-sub-menu {
    display: none;
    background: silver;
    color: #000;
    width: 130px;
    position: fixed;
    left: 230px;
    bottom: 300px;
    box-shadow: 1px 1px #000;
    border-width: 2px 2px 1px 3px;
    border-color: rgb(224, 221, 221);
    border-style: outset;
    cursor: default;
}

.sub-menu-options {
    display: flex;
    flex-direction: column;
}

.sub-menu-item {
    display: flex;
    align-items: center;
    padding: 2px;
}

.sub-menu-item:hover {
    background: navy;
    color: #ffffff;
}

.window-icon {
    width: 16px;
    height: 16px;
    margin: 0px 5px 0px 2px;
}

/*footer*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #c3c3c3;
    height: 30px;
    border-top: 2px outset #fff;
}

.footer:focus {
    outline: none;
}

.taskbar {
    margin: 0px 5px 0px 2px;
    height: 100%;
    cursor: default;
}

.icon {
    width: 16px;
    height: 16px;
}

.taskbar, .taskbar-start_btn, .taskbar-info, .taskbar-shortcut {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskbar-start_btn {
    text-align: left;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    background: #c3c3c3;
    color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: #dfdfdf #4b4b4b #4b4b4b #dfdfdf;
    cursor: pointer;
}

.taskbar-info {
    padding: 1px 10px;
    margin-left: auto;
    width: 80px;
    font-size: 14px;
}

.taskbar-tasks {
    display: flex;
    align-items: center;
    border: 2px outset #fff;
    box-shadow: 1px 1px #000;
    height: 20px;
    width: 160px;
    margin-left: 2px;
    margin-right: auto;
    padding: 0px 10px;
    display: none;
}

.taskbar-tasks-active>.taskbar-tasks_btn {
    font-weight: bold;
}

.taskbar-info, .taskbar-tasks-active {
    height: 20px;
    padding: 1px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #7c7c7c #fff #fff #7c7c7c;
}

.taskbar-tasks-active {
    width: 160px;
    margin-left: 2px;
    margin-right: auto;
    background: url('../images/123.png');
    box-shadow: -1px -1px #000;
}

@media screen and (max-width: 480px) {
    .taskbar-tasks {
        padding: 2px 5px;
        height: auto;  
        width: 100%; 
    }
    .taskbar-little-line, .taskbar-shortcut {
        display: none;
    }
}

.tasks_btn__title {
    margin-left: 5px;
}

.taskbar-tasks_btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

.taskbar-tasks_btn:focus, .taskbar-start_btn:focus {
    outline: none
}

.taskbar-big-line {
    border-left: 1px solid gray;
    border-right: 1px solid #fff;
    height: 20px;
    padding: 2px 0px;
    margin: 0px 2px;
}

.taskbar-little-line {
    width: 1px;
    height: 18px;
    border: 1px outset #fff;
}

.taskbar-shortcut img {
    margin: 0px 3px;
    border: 1px outset transparent;
}

.taskbar-shortcut img:hover {
    border: 1px outset #fff;
}